aioboto3
aiobotocore
aiofiles
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
annotated-types
anyio
attrs
bcrypt
bedrock-agentcore
bidict
blinker
boto3
botocore
certifi
cffi
click
cryptography
docstring_parser
ecdsa
fastapi
Flask
flask-cors
Flask-SocketIO
frozenlist
h11
httpcore
httptools
httpx
httpx-sse
idna
importlib_metadata
itsdangerous
Jinja2
jmespath
jsonschema
jsonschema-specifications
MarkupSafe
mcp
multidict
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-threading
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
passlib
propcache
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
python-engineio
python-jose
python-multipart
python-socketio
PyYAML
referencing
rpds-py
rsa
s3transfer
simple-websocket
six
sniffio
starlette
strands-agents
typing-inspection
typing_extensions
urllib3
uvicorn
uvloop
watchdog
watchfiles
websockets
Werkzeug
wrapt
wsproto
yarl
zipp
